{{!-- about --}}

<div class="about-perfildev">
    <div class="about-contenedor">
        <div class="about-flex">
            <div class="about-row">
                <h1 class="title-about">¿Qué es perfildev?</h1>
                <p class="descripcion-about">
                    Perfildev es una plataforma digital que tiene como finalidad darle un giro de 180° a la
                    apariencia a la hoja de vida (currículum vítae) de sus usuarios , ya que por lo general usamos
                    plantillas hechas por personas aburridas y poco creativa.
                </p>
                <p class="descripcion-about mt-1">
                    Sabemos que buscar empleo no es un juego, entendemos la necesidad de cada
                    persona a la hora de postularse en alguna vacante. Pero debemos dar a conocer una hoja de vida que
                    transmita la creatividad y nuestro profesionalismo.
                </p>
                <div class="mt-2">
                    <a href="/" class="btn-primario">Regresar 🚀</a>
                </div>
            </div>
            <div class="about-row">
            </div>
        </div>
    </div>
</div>

{{!-- endabout --}}