{{!-- loader --}}
{{> loader}}
{{!-- end loader --}}



{{!-- politicas pefildev --}}
<!-- hero-politcas perfildev -->
<section class="hero-politicas">
    <div class="container">
        <div class="row vh-100">
            <div class="col-sm-6 align-self-center">
                <h1 class="title-hero font-weight-bolder">Políticas de privacidad 🔏</h1>
                <p>Insistimos que en la mayoría de casos hay que darle un giro de 360° a la apariencia de
                    nuestra
                    la hoja de vida (currículum vítae), ya que por lo general usamos plantillas hechas por personas
                    aburridas y poco creativa. Perfildev busca inspirarte para cambiar esa historia.</p>
            </div>
            <div class="col-sm-6 align-self-center text-center">
                <img src="../assets/img/perfildev-about.svg" alt="code" class="img-fluid" width="500">
            </div>
        </div>
    </div>
</section>
<!-- endhero-perfildev -->

<section class="faq-section py-5">
    <div class="container col-sm-8">
        <h2 class="text-center font-weight-bold mb-5">Preguntas Frecuentes</h2>
        <div id="faq-accordion" class="faq-accordion mx-auto">
            <div class="card border-0 mb-4  rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h5 class="card-title mb-0">🔏<a
                            data-parent="#faq-accordion" data-toggle="collapse"
                            class="card-toggle collapsed text-decoration-none" href="#faq1" aria-expanded="false"><i
                                class="fas fa-chevron-down icon-politica"></i>What's sit amet quam
                            eget lacinia?</a></h5>
                </div>

                <div class="card-collapse collapse" id="faq1">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
            <div class="card border-0 mb-4  rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h5 class="card-title mb-0">🔏<a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed text-decoration-none"
                            href="#faq2" aria-expanded="false"><i class="fas fa-chevron-down icon-politica"></i>How to ipsum dolor sit
                            amet quam tortor?</a></h5>
                </div>

                <div class="card-collapse collapse" id="faq2">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
            <div class="card border-0 mb-4  rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h5 class="card-title mb-0">🔏<a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed text-decoration-none"
                            href="#faq3" aria-expanded="false"><i class="fas fa-chevron-down icon-politica"></i>Can I ultricies nec
                            vulputate eget?</a></h5>
                </div>

                <div class="card-collapse collapse" id="faq3">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
            <div class="card border-0 mb-4  rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h5 class="card-title mb-0">🔏<a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed text-decoration-none"
                            href="#faq4" aria-expanded="false"><i class="fas fa-chevron-down icon-politica"></i>Where can I tellus
                            eget auctor condimentum?</a></h5>
                </div>

                <div class="card-collapse collapse" id="faq4">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->

            <div class="card border-0 mb-4  rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h5 class="card-title mb-0">🔏<a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed text-decoration-none"
                            href="#faq5" aria-expanded="false"><i class="fas fa-chevron-down icon-politica"></i>Do you elementum
                            turpis semper imperdiet?</a></h5>
                </div>

                <div class="card-collapse collapse" id="faq5">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
            <div class="card border-0 mb-4  rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h5 class="card-title mb-0">🔏<a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed text-decoration-none"
                            href="#faq6" aria-expanded="false"><i class="fas fa-chevron-down icon-politica"></i>How much imperdiet
                            lorem sem non nisl?</a></h5>
                </div>

                <div class="card-collapse collapse" id="faq6">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
        </div>
    </div>
    <!--//container-->
</section>
<!--//faq-section-->
</div>
<!--//page-content-->