<!-- politicas -->

<div class="politicas-perfildev">
    <div class="politicas-contenedor">
        <div class="politicas-flex">
            <div class="politicas-row">
                <h1 class="titulo-politicas">Pol铆ticas de privacidad </h1>
                <p class="descripcion-politicas">Gracias por acceder a Perfildev. Nosotros respetamos su privacidad y su
                    informaci贸n personal. <br> Nuestra Pol铆tica de Privacidad explica c贸mo recolectamos, utilizamos y
                    (bajo ciertas condiciones)
                    divulgamos su informaci贸n personal. Esta Pol铆tica de Privacidad tambi茅n explica las medidas que
                    hemos tomado para asegurar su informaci贸n personal. Por 煤ltimo, esta pol铆tica de privacidad explica
                    los procedimientos que seguimos frente a la recopilaci贸n, uso y divulgaci贸n de su informaci贸n
                    personal.
                </p>
                <p class="descripcion-politicas">
                    La protecci贸n de datos es una cuesti贸n de confianza y privacidad, por ello es importante para
                    nosotros. Por lo tanto, utilizaremos solamente su nombre y la informaci贸n referente a Ud. bajo los
                    t茅rminos previstos en nuestra Pol铆tica de Privacidad.
                    S贸lo mantendremos su informaci贸n durante el tiempo que nos sea requerido por la ley o debido a la
                    relevancia de los propios fines para los que fueron recopilados.
                    Usted puede visitar el sitio y navegar sin tener que proporcionar datos personales. Durante su
                    visita al sitio, Ud. permanecer谩 an贸nimo y en ning煤n momento podremos identificarlo, a menos que Ud.
                    tenga una cuenta en el sitio e inicie sesi贸n con su nombre de usuario y contrase帽a.
                </p>
            </div>
            <div class="politicas-row">
                <h1 class="titulo-politicas">Cookies </h1>
                <p class="descripcion-politicas">
                    La aceptaci贸n de las cookies no es un requisito para visitar el Sitio. Las cookies son peque帽os
                    archivos de texto que identifican a su computadora en nuestro servidor como un usuario 煤nico. Las
                    cookies se pueden utilizar para reconocer su direcci贸n de protocolo de Internet, lo que le ahorrar谩
                    tiempo mientras se encuentra en el Sitio o si quiere entrar a 茅l en el futuro. S贸lo utilizamos
                    cookies para su comodidad en el uso del sitio y no para obtener o usar cualquier otra informaci贸n
                    sobre Ud. (por ejemplo, de publicidad segmentada u oculta).
                </p>
                <p class="descripcion-politicas">
                    Su navegador puede ser configurado para no aceptar cookies, pero esto podr铆a restringir su uso del
                    Sitio y limitar su experiencia en el mismo. El uso de cookies no contiene ni afecta datos de
                    car谩cter personal o privado y no representa peligro de virus. Si desea obtener m谩s informaci贸n
                    acerca de las cookies, vaya a:
                    https://www.informaticadirecto.com/blog/que-son-las-cookies-y-para-que-sirven/ o para obtener
                    informaci贸n sobre la eliminaci贸n de ellos desde el navegador, visite:
                    Google Chrome:
                    https://support.google.com/chrome/answer/95647
                    Mozilla Firefox: https://support.mozilla.org/es/kb/Borrar%20cookies
                    Internet Explorer:
                    https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies

                    Microsoft Edge:
                    https://support.microsoft.com/es-es/help/4027947/microsoft-edge-delete-cookies

                </p>
            </div>
        </div>
    </div>
</div>

<!-- fin politicas -->