<!-- header -->
<div class="contenedor activo" id="contenedor">
    <header class="header">
        <div class="contenedor-logo">
            <button id="boton-menu" class="boton-menu"><i class="fas fa-bars"></i></button>
            <a href="#" class="logo-pefildev"><img src="/assets/img/perfildev-logo-dark.svg" width="100"
                    alt="logo-pefildev"></a>
        </div>
        <div class="barra-busqueda">
            <input type="text" placeholder="Buscar">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <div class="botones-header">
            <button><i class="fas fa-user-astronaut"></i></button>
            <button><i class="fas fa-th"></i></button>
            <div class="dropdown">
                <button onclick="dropbtn_perfildev()" class="dropbtn"><i class="fas fa-bell"></i></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#home">Home</a>
                    <a href="#">Sobre perfildev</a>
                    <a href="#">contacto</a>
                </div>
            </div>
            {{!-- <button><i class="fas fa-bell"></i></button> --}}
            <a href="#" class="btn-secundario">Acceder</a>
            {{!-- <a href="#" class="avatar"><img src="/assets/img/pp-perfildev.jpg" alt="avatar"></a> --}}
        </div>
    </header>

    <nav class="menu-lateral">
        <a href="" class="activo"><i class="fas fa-home"></i> Pagina Principal</a>
        <a href=""><i class="fas fa-fire"></i> Pagina Principal</a>
        <a href=""><i class="fas fa-star"></i> Pagina Principal</a>

        <hr>

        <a href=""><i class="fas fa-folder"></i> programador web</a>
        <a href=""><i class="fas fa-code"></i> Back-end</a>
        <a href=""><i class="fas fa-folder"></i> Front-end</a>

        <hr>

        <a href=""><i class="fas fa-folder"></i> programador web</a>
        <a href=""><i class="fas fa-code"></i> Back-end</a>
        <a href=""><i class="fas fa-folder"></i> Front-end</a>
    </nav>

    <main class="main">
        <div class="hero-perfildev">
            <div class="hero">
                <h1 class="titulo-hero">Hola Amigos</h1>
                <div class="mt-1">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore nisi libero cum ipsam
                        necessitatibus facere quae! Laboriosam amet eveniet veniam veritatis autem, culpa, adipisci
                        exercitationem mollitia esse soluta voluptas sapiente!</p>
                </div>
                <div class="mt-2">
                    <a href="#" class="btn-primario">Empezar</a>
                </div>
            </div>
            <div class="hero">
                <img class="text-center" src="/assets/img/perfildev-about.svg" alt="perfildev-hero" srcset="">
            </div>
        </div>
        <div class="grid-plantillas">
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="#" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
        </div>
    </main>
</div>
<!-- end header -->