<!-- header -->
<div class="contenedor activo" id="contenedor">
    <header class="header">
        <div class="contenedor-logo">
            <button id="boton-menu" class="boton-menu"><i class="fas fa-bars"></i></button>
            <a href="/" class="logo-pefildev"><img src="/assets/img//perfildev-logo-dark.svg" width="100"
                    alt="logo-pefildev"></a>
        </div>

        {{!-- barra de busqueda perfildev --}}
        <div class="barra-busqueda">
            <input type="text" placeholder="驴Qu茅 Profesi贸n eres?">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        {{!-- end barra de busqueda perfildev --}}

        {{!-- barra de navegaci贸n perfildev --}}

        <div class="botones-header">
            {{#if user}}
            <div class="dropdown">
                <a class="dropbtn" href="/profile" alt="usuario">{{user.nombre}}</a>
                <div class="dropdown-content">
                    <a class="nav-link" href="/profile" alt="pefil">Perfil</a>
                    <a class="nav-link" href="/logout" alt="cerrar sesi贸n">Cerrar sesi贸n</a>
                </div>
            </div>
            {{else}}
            <div class="dropdown">
                <button href="/" class="dropbtn"><i class="fas fa-th"></i></button>
                <div class="dropdown-content">
                    <a href="/">Hola! Amigos</a>
                    <a href="/">驴Qu茅 es perfildev?</a>
                    <a href="https://www.instagram.com/perfildev_" title="instagram-perfildev" ><i class="fab fa-instagram" alt="instagram-perfildev"></i> @Perfildev_</a>
                    <a href="https://twitter.com/pefildev" title="twitter-perfildev"><i class="fab fa-twitter" alt="twitter-perfildev"></i> @Perfildev</a>
                   <a href="/">Contacto</a>
                </div>
            </div>
             <a class="icono-social" href="https://github.com/perfildev/perfildev" title="github-perfildev"> <i class="fab fa-github" alt="github-perfildev"></i></a>
            <button><i class="fas fa-bell"></i></button>
            <a href="/" class="btn-secundario">Acceder</a>
            {{!-- <a href="/" class="avatar"><img src="/assets/img/pp-perfildev.jpg" alt="avatar"></a> --}}
            {{/if}}
        </div>
        {{!-- end barra de navegac贸n perfildev --}}
    </header>

    <nav class="menu-lateral">
        <a href="/" class="activo"><i class="fas fa-home"></i> Pagina Principal</a>
        <a href="/"><i class="fas fa-fire"></i> Pagina Principal</a>
        <a href="/"><i class="fas fa-star"></i> Pagina Principal</a>

        <hr>

        <a href="/"><i class="fas fa-folder"></i> programador web</a>
        <a href="/"><i class="fas fa-code"></i> Back-end</a>
        <a href="/"><i class="fas fa-folder"></i> Front-end</a>

        <hr>

        <a href="/"><i class="fas fa-folder"></i> programador web</a>
        <a href="/"><i class="fas fa-code"></i> Back-end</a>
        <a href="/"><i class="fas fa-folder"></i> Front-end</a>
    </nav>

    <main class="main">
        <div class="hero-perfildev">
            <div class="hero">
                <h1 class="titulo-hero">Hola Amigos </h1>
                <div class="mt-1">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam recusandae doloribus, illum
                        enim quod, qui minima vitae magnam ut quo corporis inventore sunt fugit veniam odit
                        exercitationem voluptas odio iure?</p>
                </div>
                <div class="mt-2">
                    <a href="/" class="btn-primario">Empezar</a>
                </div>
            </div>
            <div class="hero">
                <img class="text-center" src="/assets/img/perfildev-about.svg" alt="perfildev-hero" srcset="">
            </div>
        </div>
        <div class="grid-plantillas">
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
            <a href="/" class="plantillas"><img src="https://via.placeholder.com/500x281?text=Perfildev"
                    alt="plantillas-perfildev"></a>
        </div>
    </main>
</div>
<!-- end header -->