{{!-- loader --}}
{{!-- {{> loader}} --}}
{{!-- end loader --}}

{{!-- alert-perfildev --}}
{{> alert}}
{{!-- endalert-perfildev --}}

<!-- hero-perfildev -->
<section class="hero hero-index">
    <div class="container-sm">
        <div class="row vh-100">
            <div class="col-sm-6 align-self-center">
                <h1 class="title-hero site-headline font-weight-bold mb-3">Hola Amigos, Perfildev 👋</h1>
                <p class="text-justify">Insistimos que en la mayoría de casos hay que darle un giro de 360° a la
                    apariencia de nuestra la hoja de vida (currículum vítae), ya que por lo general usamos
                    plantillas
                    hechas por personas aburridas y poco creativa. Perfildev busca inspirarte para cambiar esa
                    historia.
                </p>
                <span class="h6 text-primary font-weight-bolder">¡Buscamos</span> <span id="app"
                    class="h6 text-primary font-weight-bolder"></span>

                <div class="mt-3">
                    <a href="/signin" type="button" class="btn btn-primary btn-lg">¡Empezar! 💪</a>
                </div>
            </div>
            <div class="col-sm-6 align-self-center text-center">
                <img src="../assets/img/perfildev-about.svg" class="m-2 img-fluid" alt="perfildev" loading="lazy">
            </div>
        </div>
    </div>
</section>
<!-- endhero-perfildev -->

{{!-- ramas --}}
<section class="pt-5">
    <div class="container-sm">
        <!-- Content Row -->
        <div class="row">

            {{!-- ¿que es perfildev? --}}
            <div class="col-lg-6 mb-4">

                <div class="pb-3">
                    <h2 class="font-weight-bold">Descarga tu plantilla 📥</h2>
                    <p class="text-justify pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam atque
                        ad,
                        tempora nostrum amet dignissimos nulla, officiis fugit totam sequi, provident fuga velit omnis
                        accusantium molestias. Nesciunt, quibusdam quis. Voluptatibus odio obcaecati facilis voluptas
                        quibusdam maiores, esse voluptate doloribus nam eum quod alias error, unde doloremque, dicta
                        eaque
                        laudantium quam.</p>
                </div>

                {{!-- profesiones --}}
                <div class="row">
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <div class="font-weight-bold h5">Desarollador web 👨‍💻</div>
                                <a class="text-white small text-white" target="_blank" rel="nofollow"
                                    href="/signin">¡Vamos
                                    a
                                    ello!&rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-success text-white">
                            <div class="card-body">
                                <div class="font-weight-bold h5">Back-end 👨‍💻</div>
                                <a class="text-white small" target="_blank" rel="nofollow" href="/signin">¡Vamos a
                                    ello!&rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-info text-white">
                            <div class="card-body">
                                <div class="font-weight-bold h5">Front-end 👨‍💻</div>
                                <a class="text-white small" target="_blank" rel="nofollow" href="/signin">¡Vamos a
                                    ello!&rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-warning text-dark">
                            <div class="card-body">
                                <div class="font-weight-bold h5">Diseño Grafico 👩‍🎨</div>
                                <a class="text-dark small" target="_blank" rel="nofollow" href="/signin">¡Vamos a
                                    ello!&rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-danger text-white">
                            <div class="card-body">
                                <div class="font-weight-bold h5">Fotografia 📷</div>
                                <a class="text-white small" target="_blank" rel="nofollow" href="/signin">¡Vamos a
                                    ello!&rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-secondary text-white">
                            <div class="card-body">
                                <div class="font-weight-bold h5">Mantenimiento 💻</div>
                                <a class="text-white small" target="_blank" rel="nofollow" href="/signin">¡Vamos a
                                    ello!&rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-dark text-white">
                            <div class="card-body">
                                <div class="font-weight-bold h5">Ing. de sistema 👨‍💼</div>
                                <a class="text-white small" target="_blank" rel="nofollow" href="/signin">¡Vamos a
                                    ello!&rarr;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4">
                        <div class="card bg-white text-dark">
                            <div class="card-body">
                                <div class="font-weight-bold h5">Otro 🎯</div>
                                <a class="text-dark small" target="_blank" rel="nofollow" href="/signin">¡Vamos a
                                    ello!&rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- en profesiones--}}

                {{!-- anuncio --}}
                <div class="jumbotron">
                    <div class="px-3 px-sm-4">
                        <h3 class="font-weight-bold text-primary text-center">ANUNCIO ✅</h3>
                    </div>
                </div>

                <!-- Noticias -->
                {{!-- <div class="card   mb-4">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Leer esto ✅</h3>
                </div>
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" width="300" src="../assets/img/perfildev-about.svg"
                        alt="perfildev">
                </div>
                <div class="card-body">
                    <h3 class="m-0 font-weight-bold text-primary">title✅</h3>
                    <h4 class="lead text-secondary pt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae,
                        necessitatibus minima. Quisquam animi iste exercitationem maxime! </h6>
                        <p class="mb-2">Por lo general, los
                            profesionales encargados de la selección de nuevos...</p>
                        <a class="btn btn-primary btn-sm" target="_blank" rel="nofollow" href="/signin">Dale! 🚀</a>
                </div>
            </div> --}}
            </div>
            {{!-- end ¿que es perfildev? --}}
            <div class="col-lg-6 mb-4">

                <div class="jumbotron">
                    <div class="px-3 px-sm-4">
                        <h3 class="font-weight-bold text-primary">Cursos Gratuitos ✅</h3>
                        <p class="font-weight-bold pt-3">Los mejores cursos Gratuitos de la web</p>
                        <p class="">This is a modified jumbotron that occupies the entire horizontal space of its
                            parent.</p>
                        <a class="btn btn-primary btn-sm" href="/signin">Dale! 🚀</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <img src="/assets/img/perfildev-logo-dark.svg" alt="perfildev" class="img-fluid"
                                    loading="lazy">
                            </div>
                            <div class="card-body text-primary">
                                <p class="font-weight-bold">Cómo Programar para Emprendedores - HTML y CSS</hp>
                                    <p class="text-muted font-wight-bold"><i class="far fa-play-circle"></i> 1 h 39 min
                                        de
                                        vídeo bajo demanda</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="font-weight-bold m-0">Gratis</p>
                                        <p class="small">4.3 <span class="text-warning"><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-sm" href="/signin">Dale! 🚀</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <img src="/assets/img/perfildev-logo-dark.svg" alt="perfildev" srcset="">
                            </div>
                            <div class="card-body text-primary">
                                <p class="font-weight-bold">Cómo Programar para Emprendedores - HTML y CSS</hp>
                                    <p class="text-muted font-wight-bold"><i class="far fa-play-circle"></i> 1 h 39 min
                                        de
                                        vídeo bajo demanda</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="font-weight-bold m-0">Gratis</p>
                                        <p class="small">4.3 <span class="text-warning"><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-sm" href="/signin">Dale! 🚀</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <img src="/assets/img/perfildev-logo-dark.svg" alt="perfildev" srcset="">
                            </div>
                            <div class="card-body text-primary">
                                <p class="font-weight-bold">Cómo Programar para Emprendedores - HTML y CSS</hp>
                                    <p class="text-muted font-wight-bold"><i class="far fa-play-circle"></i> 1 h 39 min
                                        de
                                        vídeo bajo demanda</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="font-weight-bold m-0">Gratis</p>
                                        <p class="small">4.3 <span class="text-warning"><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-sm" href="/signin">Dale! 🚀</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card mb-3">
                            <div class="card-header bg-transparent">
                                <img src="/assets/img/perfildev-logo-dark.svg" alt="perfildev" loading="lazy">
                            </div>
                            <div class="card-body text-primary">
                                <p class="font-weight-bold">Cómo Programar para Emprendedores - HTML y CSS</hp>
                                    <p class="text-muted font-wight-bold"><i class="far fa-play-circle"></i> 1 h 39 min
                                        de
                                        vídeo bajo demanda</p>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="font-weight-bold m-0">Gratis</p>
                                        <p class="small">4.3 <span class="text-warning"><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                    class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></span>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <a class="btn btn-primary btn-sm" href="/signin">Dale! 🚀</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</section>
{{!-- end ramas --}}

{{!-- carousel-perfildev --}}
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active bg-primary container-box">
                <div class="container-sm">
                    <div class="row">
                        <div class="col-sm-6 align-self-center">
                            <h4 class="font-weight-bold text-white">Un curriculum sin creativdad ya esta obsoleto ⚠️
                            </h4>
                            <p class="text-justify text-white">Perfildev te ayudamos a sumar puntos con la creativdad de
                                tu hoja de vida.</p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <img src="../assets/img/perfildev-logo-dark.svg" class="mx-auto img-fluid" alt="perfildev">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item container-box bg-primary">
                <div class="container-sm">
                    <div class="row">
                        <div class="col-sm-6 align-self-center">
                            <h4 class="font-weight-bold text-white">Es hora de ser el numero #1 en el mundo loboral ⚠️
                            </h4>
                            <p class="text-justify text-white">Perfildev te ayudamos a sumar puntos con la creativdad de
                                tu hoja de vida.</p>
                        </div>
                        <div class="col-sm-6 align-self-center text-center">
                            <img src="../assets/img/perfildev-logo-dark.svg" class="mx-auto img-fluid" alt="perfildev">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item container-box bg-primary">
                <div class="container-sm">
                    <div class="row">
                        <div class="col-sm-6 align-self-center">
                            <h4 class="font-weight-bold text-white">Un curriculum sin creativdad ya esta obsoleto ⚠️
                            </h4>
                            <p class="text-justify text-white">Perfildev te ayudamos a sumar puntos con la creativdad de
                                tu hoja de vida.</p>
                        </div>
                        <div class="col-sm-6 align-self-center text-center">
                            <img src="../assets/img/perfildev-logo-dark.svg" class="mx-auto img-fluid" alt="perfildev">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
{{!-- endcarousel-perfildev --}}

<!-- call to action -->
<section class="call-to-action text-white text-center bg-dark" id="send-email">
    <div class="overlay"></div>
    <div class="container-sm">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h2 class="mb-4 font-weight-bold">¡Haz parte de la comunidad! 👨‍💻 perfildev</h2>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <form action="/haz-parte" method="POST">
                    <div class="form-row">
                        <div class="col-12 col-md-9 mb-0 mb-md-0">
                            <label for="newslatter">Perfildev</label>
                            <input id="newslatter" type="email" name="email" class="form-control was-validated"
                                placeholder="Ingresa tu correo..."  value="tucorre@ejemplo.com" required>
                            <div class="valid-feedback">
                                bien!
                            </div>
                        </div>
                        <div class="col-12 col-md-3 mt-4">
                            <button type="submit" class="btn btn-block  btn-primary" data-target="#exampleModal">¡Haz
                                parte!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{{!-- endcall to action --}}