{{!-- contenedor index perfildev --}}

<div class="contenedor activo" id="contenedor">
  <!-- header perfildev -->
  <header class="header">
    <div class="contenedor-logo">
      <button id="boton-menu" title="menu" class="boton-menu"><i class="fas fa-bars"></i></button>
      <a href="/" class="logo-pefildev"><img src="/assets/img/perfildev-logo-dark.svg" width="100" alt="perfildev"
          title="pefildev" /></a>
    </div>

    <!-- barra de busqueda perfildev -->

    <div class="barra-busqueda buscador" id="bs1"></div>

    <!-- end barra de busqueda perfildev -->

    <!-- barra de navegación perfildev -->

    <div class="botones-header">
      {{#if user}}
      <div class="dropdown">
        <button href="/" class="dropbtn" aria-label="Opciones"><i class="fas fa-th"></i></button>
        <div class="dropdown-content">
          <a href="/template/about">¿Qué es perfildev?</a>
          <a href="https://github.com/perfildev/perfildev" title="github-perfildev"><i class="fab fa-github"></i>
            Perfildev</a>
          <a href="https://www.instagram.com/perfildev_" title="instagram-perfildev"><i class="fab fa-instagram"></i>
            @Perfildev_</a>
          <a href="https://twitter.com/pefildev" title="twitter-perfildev"><i class="fab fa-twitter"></i>@Perfildev</a>
          <a href="/template/contact">Contacto</a>
        </div>
      </div>

      <button><i class="fas fa-bell"></i></button>

      <div class="dropdown">
        <a href="/" class="avatar"><img src="/assets/img/pp-perfildev.jpg" alt="avatar" /></a>
        <div class="dropdown-content">
          <a class="nav-link" title="Hola amigo" href="/profile" alt="usuario">¡Hola! {{ user.nombre }}</a>
          <a class="nav-link" title="tu perfil" href="/profile" alt="pefil">Perfil</a>
          <a class="nav-link" title="cerrar sisón" href="/logout" alt="cerrar sesión">Cerrar sesión</a>
        </div>
      </div>
      {{else}}
      <div class="dropdown">
        <button href="/" class="dropbtn" aria-label="Opciones"><i class="fas fa-th"></i></button>
        <div class="dropdown-content">
          <a href="/template/about">¿Qué es perfildev?</a>
          <a href="https://www.instagram.com/perfildev_" title="instagram-perfildev"><i class="fab fa-instagram"></i>
            @Perfildev_</a>
          <a href="https://twitter.com/pefildev" title="twitter-perfildev"><i class="fab fa-twitter"></i> @Perfildev</a>
          <a href="/template/contact">Contacto</a>
        </div>
      </div>
      <a class="icono-social" href="https://github.com/perfildev/perfildev" title="github-perfildev"> <i
          class="fab fa-github"></i></a>
      <a href="/signin" class="btn-secundario">Acceder</a>
      {{/if}}
    </div>

    <!-- end barra de navegacón perfildev -->

  </header>

  <!-- end header perfildev -->

  <!-- menu lateral perfildev -->

  <nav class="menu-lateral">

    <a href="/signin"><i class="fas">👩‍💼</i> Ingeniero de sistemas</a>
    <a href="/signin"><i class="fas">🖥️</i> Tec. de mantienimento pc</a>
    <a href="/signin"><i class="fas">🧙‍♂️</i> Analista de sistemas</a>

    <hr>

    <a href="/signin"><i class="fas">👨‍💻</i> programador web</a>
    <a href="/signin"><i class="fas">👨‍💻</i> Back-end</a>
    <a href="/signin"><i class="fas">👨‍💻</i> Front-end</a>

    <hr>

    <a href="/signin"><i class="fas">👨‍🎨</i> Diseñador grafico</a>
    <a href="/signin"><i class="fas">🦸‍♂️</i> UI / UX</a>
    <a href="/signin"><i class="fas">📸</i> Fotografo</a>
  </nav>

  <!-- end menu lateral perfildev -->

  <!-- header perfildev -->

  <main class="main">
    {{!-- hero --}}
    <div class="hero-perfildev">
      <div class="hero">
        <h1 class="titulo-hero">Hola Amigos 👋</h1>
        <div class="mt-1">
          <p>
            Insistimos que en la mayoría de casos hay que darle <b>un giro de 360° a la apariencia de nuestra la hoja de
              vida (currículum vítae)</b>, ya que por lo general usamos plantillas hechas por
            personas aburridas y poco creativa. Perfildev busca inspirarte para cambiar esa historia.
          </p>
        </div>
        <div class="mt-2">
          <a href="/" class="btn-primario">Empezar 💪</a>
        </div>
      </div>
      <div class="hero">
        <img class="text-center" src="/assets/img/perfildev-about.svg" alt="perfildev-hero" srcset="" />
      </div>
    </div>
    {{!-- fin hero --}}

    <div class="pb-2">
      <h2>Plantillas</h2>
    </div>

    <div class="grid-plantillas">
      {{!-- card --}}
      <div class="propiedad-card-perfildev plantillas">
        <a href="/">
          <div class="propiedad-image-perfildev"
            style="background-image  : url('https://via.placeholder.com/500x500?text=perfildev');">
            <div class="propiedad-image-title">
              <!-- Optional <h4>Card Title</h4> If you want it, turn on the CSS also. -->
            </div>
          </div>
        </a>
        <div class="propiedad-description">
          <h4> Card Title </h4>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="/">
          <div>
            <a href="/"><i class="fas fa-file-download propiedad-social-icons"></i></a>
          </div>
        </a>
      </div>
      {{!-- end card --}}

      {{!-- card --}}
      <div class="propiedad-card-perfildev plantillas">
        <a href="/">
          <div class="propiedad-image-perfildev"
            style="background-image  : url('https://via.placeholder.com/500x500?text=perfildev');">
            <div class="propiedad-image-title">
              <!-- Optional <h4>Card Title</h4> If you want it, turn on the CSS also. -->
            </div>
          </div>
        </a>
        <div class="propiedad-description">
          <h4> Card Title </h4>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="/">
          <div>
            <a href="/"><i class="fas fa-file-download propiedad-social-icons"></i></a>
          </div>
        </a>
      </div>
      {{!-- end card --}}

      {{!-- card --}}
      <div class="propiedad-card-perfildev plantillas">
        <a href="/">
          <div class="propiedad-image-perfildev"
            style="background-image  : url('https://via.placeholder.com/500x500?text=perfildev');">
            <div class="propiedad-image-title">
              <!-- Optional <h4>Card Title</h4> If you want it, turn on the CSS also. -->
            </div>
          </div>
        </a>
        <div class="propiedad-description">
          <h4> Card Title </h4>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="/">
          <div>
            <a href="/"><i class="fas fa-file-download propiedad-social-icons"></i></a>
          </div>
        </a>
      </div>
      {{!-- end card --}}

      {{!-- card --}}
      <div class="propiedad-card-perfildev plantillas">
        <a href="/">
          <div class="propiedad-image-perfildev"
            style="background-image  : url('https://via.placeholder.com/500x500?text=perfildev');">
            <div class="propiedad-image-title">
              <!-- Optional <h4>Card Title</h4> If you want it, turn on the CSS also. -->
            </div>
          </div>
        </a>
        <div class="propiedad-description">
          <h4> Card Title </h4>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="/">
          <div>
            <a href="/"><i class="fas fa-file-download propiedad-social-icons"></i></a>
          </div>
        </a>
      </div>
      {{!-- end card --}}

      {{!-- card --}}
      <div class="propiedad-card-perfildev plantillas">
        <a href="/">
          <div class="propiedad-image-perfildev"
            style="background-image  : url('https://via.placeholder.com/500x500?text=perfildev');">
            <div class="propiedad-image-title">
              <!-- Optional <h4>Card Title</h4> If you want it, turn on the CSS also. -->
            </div>
          </div>
        </a>
        <div class="propiedad-description">
          <h4> Card Title </h4>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="/">
          <div>
            <a href="/"><i class="fas fa-file-download propiedad-social-icons"></i></a>
          </div>
        </a>
      </div>
      {{!-- end card --}}

      {{!-- card --}}
      <div class="propiedad-card-perfildev plantillas">
        <a href="/">
          <div class="propiedad-image-perfildev"
            style="background-image  : url('https://via.placeholder.com/500x500?text=perfildev');">
            <div class="propiedad-image-title">
              <!-- Optional <h4>Card Title</h4> If you want it, turn on the CSS also. -->
            </div>
          </div>
        </a>
        <div class="propiedad-description">
          <h4> Card Title </h4>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="/">
          <div>
            <a href="/"><i class="fas fa-file-download propiedad-social-icons"></i></a>
          </div>
        </a>
      </div>
      {{!-- end card --}}

      {{!-- card --}}
      <div class="propiedad-card-perfildev plantillas">
        <a href="/">
          <div class="propiedad-image-perfildev"
            style="background-image  : url('https://via.placeholder.com/500x500?text=perfildev');">
            <div class="propiedad-image-title">
              <!-- Optional <h4>Card Title</h4> If you want it, turn on the CSS also. -->
            </div>
          </div>
        </a>
        <div class="propiedad-description">
          <h4> Card Title </h4>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="/">
          <div>
            <a href="/"><i class="fas fa-file-download propiedad-social-icons"></i></a>
          </div>
        </a>
      </div>
      {{!-- end card --}}

      {{!-- card --}}
      <div class="propiedad-card-perfildev plantillas">
        <a href="/">
          <div class="propiedad-image-perfildev"
            style="background-image  : url('https://via.placeholder.com/500x500?text=perfildev');">
            <div class="propiedad-image-title">
              <!-- Optional <h4>Card Title</h4> If you want it, turn on the CSS also. -->
            </div>
          </div>
        </a>
        <div class="propiedad-description">
          <h4> Card Title </h4>
          <p>Lorem Ipsum Dipsum hortata. Mixcall Horcho. Mixwell Chingo. More Bingo. Lorem Ipum doth be hard.</p>
        </div>
        <a href="/">
          <div>
            <a href="/"><i class="fas fa-file-download propiedad-social-icons"></i></a>
          </div>
        </a>
      </div>
      {{!-- end card --}}

      <!-- end header perfildev -->

    </div>

    {{!-- end contenedor index perfildev --}}

    {{!-- javascript  --}}
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/buscador.js"></script>
    <script src="/assets/js/app.js"></script>