{{!-- loader --}}
<div class="loader-page">
    <div class="mt-5 pt-5">
        <img class="mt-3 pt-5" src="../assets/img/perfildev-logo-dark.svg" alt="perfildev" width="150">
        <p class="font-weight-bold text-center">cargando...</p>
    </div>
</div>
{{!-- end loader --}}