<div class="card">
    <div class="card-header">
       <h5><i class="far fa-chart-bar"></i> Estadisticas</h5>
    </div>
    <div class="card-body">
       <p><i class="fas fa-images"></i> Imagenes: {{sidebar.stats.images}}</p>
       <p><i class="fas fa-comments"></i> Comentarios: {{sidebar.stats.comments}}</p>
    </div>
</div>