{{!-- loader --}}
{{> loader}}
{{!-- end loader --}}

{{!-- politicas pefildev --}}
<!-- hero-politcas perfildev -->
<section class="hero-politicas">
    <div class="container h100-politicas">
        <div class="content-hero-politicas content-100-politicas">
            <div class="row p-2">
                <div class="col-sm-6 mx-auto">
                    <h2 class="title-hero site-headline font-weight-bold mb-3">Políticas de privacidad 🔏</h2>
                    <p class="text-justify">Insistimos que en la mayoría de casos hay que darle un giro de 360° a la
                        apariencia de nuestra la hoja de vida (currículum vítae), ya que por lo general usamos
                        plantillas
                        hechas por personas aburridas y poco creativa. Perfildev busca inspirarte para cambiar esa
                        historia.
                    </p>
                </div>

                <div class="col-sm-6 ">
                    <img src="../assets/img/perfildev-about.svg" class="d-block mx-auto w-50 img-fluid" alt="perfildev">
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- endhero-perfildev -->

<section class="m-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Primary card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Dark card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>