{{!-- loader --}}
{{> loader}}
{{!-- end loader --}}



{{!-- politicas pefildev --}}
<!-- hero-politcas perfildev -->
<section class="container">
    <div class="row vh-100">
        <div class="col-sm-6 align-self-center">
            <h2 class="title-hero font-weight-bolder">Políticas de privacidad 🔏</h2>
            <p class="">Insistimos que en la mayoría de casos hay que darle un giro de 360° a la apariencia de nuestra
                la hoja de vida (currículum vítae), ya que por lo general usamos plantillas hechas por personas
                aburridas y poco creativa. Perfildev busca inspirarte para cambiar esa historia.</p>
        </div>
        <div class="col-sm-6 align-self-center text-center">
            <img src="../assets/img/perfildev-about.svg" alt="code" srcset="" width="500">
        </div>
    </div>
</section>
<!-- endhero-perfildev -->

<section class="faq-section py-5">
    <div class="container col-sm-8">
        <h2 class="text-center font-weight-bold mb-5">Frequently Asked Questions</h2>
        <div id="faq-accordion" class="faq-accordion mx-auto">
            <div class="card border-0 mb-4 shadow-sm rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h5 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed text-decorations-none"
                            href="#faq1" aria-expanded="false"><i class="fas fa-chevron-down icon-politica"></i>What's sit amet quam
                            eget lacinia?</a></h5>
                </div>

                <div class="card-collapse collapse" id="faq1">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
            <div class="card border-0 mb-4 shadow-sm rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed"
                            href="#faq2" aria-expanded="false"><i class="fas fa-chevron-down"></i>How to ipsum dolor sit
                            amet quam tortor?</a></h4>
                </div>

                <div class="card-collapse collapse" id="faq2">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
            <div class="card border-0 mb-4 shadow-sm rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed"
                            href="#faq3" aria-expanded="false"><i class="fas fa-chevron-down"></i>Can I ultricies nec
                            vulputate eget?</a></h4>
                </div>

                <div class="card-collapse collapse" id="faq3">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
            <div class="card border-0 mb-4 shadow-sm rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed"
                            href="#faq4" aria-expanded="false"><i class="fas fa-chevron-down"></i>Where can I tellus
                            eget auctor condimentum?</a></h4>
                </div>

                <div class="card-collapse collapse" id="faq4">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->

            <div class="card border-0 mb-4 shadow-sm rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed"
                            href="#faq5" aria-expanded="false"><i class="fas fa-chevron-down"></i>Do you elementum
                            turpis semper imperdiet?</a></h4>
                </div>

                <div class="card-collapse collapse" id="faq5">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->
            <div class="card border-0 mb-4 shadow-sm rounded">
                <div class="card-header border-0 p-4 bg-light rounded">
                    <h4 class="card-title mb-0"><i class="fas fa-question-circle mr-2"></i><a
                            data-parent="#faq-accordion" data-toggle="collapse" class="card-toggle collapsed"
                            href="#faq6" aria-expanded="false"><i class="fas fa-chevron-down"></i>How much imperdiet
                            lorem sem non nisl?</a></h4>
                </div>

                <div class="card-collapse collapse" id="faq6">
                    <div class="card-body p-4 bg-white rounded">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                        mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa
                        quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                        rhoncus ut, imperdiet a, venenatis vitae.
                    </div>
                    <!--//card-body-->
                </div>
            </div>
            <!--//card-->


        </div>
        <!--//faq-accordion-->
        <div class="text-center">
            <h4 class="pt-5">Have more questions? </h4>
            <div class="section-intro">Check our <a href="docs.html">docs</a> or <a href="contact.html">contact us</a>.
                We're more than happy to help.</div>
        </div>
    </div>
    <!--//container-->
</section>
<!--//faq-section-->
</div>
<!--//page-content-->

<section class="cta-section text-center py-5 theme-bg-dark position-relative">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
        <h3 class="mb-2 text-white mb-3">Get Started in No Time</h3>
        <div class="section-intro text-white mb-3 single-col-max mx-auto">CoderPro makes it super easy to get your
            software project online, so you can start promoting or selling your digital product to your audience.</div>
        <div class="pt-3 text-center">
            <a class="btn btn-light"
                href="https://themes.3rdwavemedia.com/bootstrap-templates/startup/coderpro-bootstrap-4-startup-template-for-software-projects/">Get
                Started<i class="fas fa-arrow-alt-circle-right ml-2"></i></a>
        </div>
    </div>
</section>
<!--//cta-section-->