<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>perfildev</title>

    <!-- cookies -->
    <script>
    //<![CDATA[
    document.cookie = 'same-site-cookie=foo; SameSite=Lax'; 
    document.cookie = 'cross-site-cookie=bar; SameSite=None; Secure';
    //]]>
    </script>

    <!-- css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- fontawesome -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <!-- inforacion de la web -->
    <meta property="og:title" content="Pefildev | Web" />
    <meta property="og:description" content="plataforma que matienen de tu hoja de vida (curriculum vitae) en la mejor versión">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.pefildev.com" />
    <meta property="og:image" content="/assets/img/perfildev-logo-dark.svg" />
    <meta property="og:image:secure_url" content="/assets/img/perfildev-logo-dark.svg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Pefildev para todos" />
</head>

<body>

    <!-- navbar-perfildev -->
    {{>navigation}}
    <!-- endnavbar-perfildev -->

    {{!-- mensaje --}}
    {{> message}}
    {{!-- endmensaje --}}

    {{{ body }}}

    {{!-- footer --}}
    {{>footer}}
    {{!-- endfooter --}}


    <script src="/assets/js/jquery-3.4.1.js"></script>
    <script src="/assets/js/popper-2.1.1.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/core.js"></script>
    <script src="/assets/js/form.js"></script>
    <script src="/assets/js/buscador.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- Page level plugins -->
    <script src="/assets/js/typewriter.js"></script>
    <!-- preloader -->
    <script src="/assets/js/preloader.js"></script>
</body>

</html>