<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Perfildev, tu mejor perfil">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript, Plantillas para hojas de vida, hoja de vida, curriculum vitae">
    <meta name="author" content="Pefildev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfildev</title>

    <!-- css -->
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

    <!-- inforacion de la web -->
    <meta property="og:title" content="Pefildev | Plataforma web para todos" />
    <meta property="og:description" content="Tu mejor perfil">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.pefildev.com" />
    <meta property="og:image" content="https://yjgr.neocities.org/assets/img/og-perfildev.png" />

    <!-- drif -->
    <script src="/assets/js/drif.js"></script>

</head>

<body>
    <!-- navbar-perfildev -->
    {{>navigation}}
    <!-- endnavbar-perfildev -->

    {{!-- mensaje --}}
    {{> message}}
    {{!-- endmensaje --}}

    {{{ body }}}

    {{!-- footer --}}
    {{>footer}}
    {{!-- endfooter --}}


    <script src="/assets/js/jquery-3.4.1.js"></script>
    <script src="/assets/js/popper-2.1.1.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/core.js"></script>
    <script src="/assets/js/form.js"></script>
    <script src="/assets/js/buscador.js"></script>
    <script src="/assets/js/app.js"></script>
    <!-- Page level plugins -->
    <script src="/assets/js/typewriter.js"></script>
    <!-- preloader -->
    <script src="/assets/js/preloader.js"></script>
</body>

</html>