<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Perfildev, tu mejor perfil | Descargar plantillas para tu hoja de vida | Plantillas de hojas de vida | guia para crear tu hoja de vida">
    <meta name="keywords" content="Descarga las mejores plantillas para hojas de vida, hoja de vida, curriculum vitae, Hoja de vida, formato de hoja de vida, formato de hoja de vida">
    <meta name="author" content="Pefildev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfildev</title>

    <!-- css -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- inforacion de la web -->
    <meta property="og:title" content="Perfildev | Plataforma web para todos" />
    <meta property="og:description" content="Tu mejor perfil">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.pefildev.com" />
    <meta property="og:image" content="https://yjgr.neocities.org/assets/img/og-perfildev.png" />

    <!-- google analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169880176-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-169880176-1');
    </script>

    <!-- search console -->
    <meta name="google-site-verification" content="bXOZu-3kNH62YZRGXYWodu1nxy5KglHf5RcDgAVqW1s" />

</head>

<body>

    <!-- contenedor  perfildev -->

    {{{ body }}}

    <!-- end contenedor perfildev -->

</body>

</html>