<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Perfildev, tu mejor perfil">
    <meta name="keywords" content="Descarga las mejores plantillas para hojas de vida, hoja de vida, curriculum vitae">
    <meta name="author" content="Pefildev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>perfildev</title>

    <!-- css -->
    <link rel="stylesheet" href="/assets/css/main.css">

    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/6807ebaf14.js" crossorigin="anonymous"></script>

    <!-- inforacion de la web -->
    <meta property="og:title" content="Pefildev | Plataforma web para todos" />
    <meta property="og:description" content="Tu mejor perfil">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.pefildev.com" />
    <meta property="og:image" content="https://yjgr.neocities.org/assets/img/og-perfildev.png" />

</head>

<body>

    <!-- contenedor  perfildev -->

    {{{ body }}}
    
    <!-- end contenedor perfildev -->

    <script src="/assets/js/main.js"></script>
    {{!-- <script src="/assets/js/core.js"></script>
    <script src="/assets/js/form.js"></script>
    <script src="/assets/js/buscador.js"></script>
    <script src="/assets/js/app.js"></script> --}}
    <!-- Page level plugins -->
    {{!-- <script src="/assets/js/typewriter.js"></script> --}}
    <!-- drif -->
    <script src="/assets/js/drif.js"></script>
</body>

</html>