<!-- registro-usuario-perfildev -->

<div class="signup-perfildev">
    <div class="regitro-perfildev">
        <a href="/"><img class="avatar" src="/assets/img/pp-perfildev.jpg" alt="avatar-perfildev"></a>
        <h3>Registro</h3>
        <!-- formulario perfildev -->
        <form action="/signup" method="POST">

            <div class="flex-signin">
                <div class="item-signin">
                    <div>
                        <label for="Nombre">Nombre</label>
                        <input type="text" placeholder="Nombre" name="nombre" required>
                    </div>
                </div>
                <div class="item-signin">
                    <div>
                        <label for="Apellidos">Apellidos</label>
                        <input type="text" placeholder="Apellidos" name="apellidos" required>
                    </div>
                </div>
            </div>

            <label for="username">Correo Electronico</label>
            <input type="email" placeholder="Correo Electronico" name="username" required>

            <label for="password">Contraseña</label>
            <input type="password" placeholder="Contraseña" name="password" required>

            <input class="checkbox" type="checkbox" name="politicas" value="Politicas" checked required> <span>Acepto<a href="/signup"> <b>terminos y condiciones</b></a></span>

            <input class="btn-primario" type="submit" value="Registrarse">           
        </form>
    </div>
</div>

<!--  end registro-usuario-perfildev -->