<!-- signup -->
{{!-- <section class="hero hero-signup">
    <div class="container">
        <div class="row vh-100">
            <div class="col-sm-6 align-self-center">
                <h1 class="title-hero site-headline font-weight-bold mb-3">Es hora de ser el #1 ☝️</h1>
                <p>¡Muestra tu mejor perfildev!
                    <span id="app" class="text-primary font-weight-bolder"></span>
                    </span>
                </p>
            </div>
            <div class="col-sm-6 align-self-center pt-5">
                <div class="row">
                    <div class="mx-auto">
                        <!-- formulario de registro -->
                        <div class="card bg-transparent text-center">
                            <div class="card-header">
                                <h3 class="font-weight-bold">Registrate aquí</h3>
                            </div>
                            <div class="card-body">
                                <img src="../assets/img/perfildev-logo-dark.svg" alt="Logo perfildev"
                                    class="card-img-top mx-auto m-1 w-50">
                                <form class="text-center" action="/signup" method="POST">
                                    <div class="form-row mb-1">
                                        <div class="col-sm-6">
                                            <!-- nombre -->
                                            <div class="text-left"><label><small><b>Nombre</b></small></label></div>
                                            <input type="text" class="form-control" name="nombre">
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- apellido -->
                                            <div class="text-left"><label><small><b>Apellidos</b></small></label></div>
                                            <input type="text" class="form-control" name="apellidos">
                                        </div>
                                    </div>

                                    <!-- email -->
                                    <div class="text-left"><label><small><b>Correo Electronico</b></small></label></div>
                                    <input type="email" class="form-control mb-1" name="username">

                                    <!-- contraseña -->
                                    <div class="text-left"><label><small><b>Constraseña</b></small></label></div>
                                    <input type="password" class="form-control" name="password">
                                    <small class="form-text text-muted mb-1">
                                        Al menos 8 caracteres y 1 numero
                                    </small>

                                    <!-- celular -->
                                    <div class="text-left"><label><small><b>Teléfono</b></small> </label></div>
                                    <input type="text" class="form-control">
                                    <small class="form-text text-muted mb-2">
                                        Opcional: para registrarse
                                    </small>

                                    <!-- terminos -->
                                    <div class="form-group form-check text-left">
                                        <input type="checkbox" class="form-check-input" required>
                                        <label class="form-check-label" for="exampleCheck1"><small>Aceptar terminanos,
                                                <a class="text-primary" href="/links/politicas"><b>terminos y
                                                        condiciones</b></a></small></label>
                                    </div>

                                    <!-- boton -->
                                    <button class="btn btn-primary my-2 btn-block" type="submit">Registrarse</button>

                                </form>
                            </div>

                        </div>
                        <!-- end formulario de registro -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<!-- endsignup -->

<!-- registro-usuario-perfildev -->

<div class="signup-perfildev">
    <div class="regitro-perfildev">
        <a href="/"><img class="avatar" src="/assets/img/pp-perfildev.jpg" alt="avatar-perfildev"></a>
        <h3>Registro</h3>
        <!-- formulario perfildev -->
        <form action="/signup" method="POST">

            <div class="flex-signin">
                <div class="item-signin">
                    <div>
                        <label for="Nombre">Nombre</label>
                        <input type="text" placeholder="Nombre" name="nombre">
                    </div>
                </div>
                <div class="item-signin">
                    <div>
                        <label for="Apellidos">Apellidos</label>
                        <input type="text" placeholder="Apellidos" name="apellidos">
                    </div>
                </div>
            </div>

            <label for="username">Correo Electronico</label>
            <input type="email" placeholder="Correo Electronico" name="username">

            <label for="password">Contraseña</label>
            <input type="password" placeholder="Contraseña" name="password">

            <input class="checkbox" type="checkbox" name="politicas" value="Politicas" checked> <span>Acepto<a href="/signup"> <b>terminos y condiciones</b></a></span>

            <input class="btn-primario" type="submit" value="Registrarse">           
        </form>
    </div>
</div>

<!--  end registro-usuario-perfildev -->