{{!-- loader --}}
{{> loader}}
{{!-- end loader --}}

<!-- signup -->
<section class="hero" id="home">
    <div class="container h100">
        <div class="content-hero content-100">
            <div id="" class="col-sm-6">
                <h1 class="title-hero site-headline font-weight-bold mb-3">Hola Amigos, Perfildev 👋</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime quibusdam odio, saepe
                    repudiandae veritatis porro voluptatem quia.
                    <span id="app" class="text-primary font-weight-bolder"></span>
                    </span>
                </p>
                <div class="buscador" id="bs1"></div>
            </div>

            <div class="col-sm-6 p-4">
                <div class="row">
                    <div class="mx-auto">
                        <div class="card bg-transparent text-center">
                            <div class="card-header">
                                <h3>Registrate aquí</h3>
                            </div>
                            <div class="card-body">
                                <img src="../assets/img/perfildev-logo-dark.svg" alt="Logo perfildev"
                                    class="card-img-top mx-auto m-4  w-50">
                                <form action="/signup" method="POST">
                                    <div class="form-group text-left">
                                        <label><small><b>Nombre Completo</b></small> </label>
                                        <input type="text" name="fullname" class="form-control" id="nombre"
                                            aria-describedby="nombre">
                                        <small id="emailHelp" class="form-text text-muted">Desbes suministrar tu primer
                                            nombre y tu primer apellido</small>
                                    </div>
                                    <div class="form-group text-left">
                                        <label><small><b>Email</b></small> </label>
                                        <input type="email" name="username" class="form-control">
                                    </div>
                                    <div class="form-group text-left">
                                        <label><small><b>Contraseña</b></small></label>
                                        <input type="password" name="password" class="form-control">
                                    </div>
                                    <div class="form-group form-check text-left">
                                        <input type="checkbox" class="form-check-input" required>
                                        <label class="form-check-label" for="exampleCheck1"><small>Aceptar terminanos,
                                                <a class="text-primary" href="#"><b>terminos y
                                                        condiciones</b></a></small></label>
                                    </div>
                                    <div class="from-control">
                                        <button class="btn btn-success btn-block">Registarte 🚀</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<!-- endsignup -->

<!-- Default form register -->
<form class="text-center border border-light p-5" action="/signup" method="POST">

    <p class="h4 mb-4">Registrate aquí</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- nombre -->
            <label><small><b>Nombre</b></small> </label>
            <input type="text" class="form-control" name="nombre">
        </div>
        <div class="col">
            <!-- Last name -->
            <label><small><b>Apellidos</b></small> </label>
            <input type="text" class="form-control" name="apellidos">
        </div>
    </div>

    <!-- E-mail -->
    <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" name="">

    <!-- Password -->
    <input type="password" id="defaultRegisterFormPassword" class="form-control" name="cotraseña" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>

    <!-- Phone number -->
    <input type="text" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
    <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
        Optional - for two step authentication
    </small>

    <!-- Newsletter -->
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
        <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
    </div>

    <!-- Sign up button -->
    <button class="btn btn-primary my-4 btn-block" type="submit">Sign in</button>


    <hr>

    <!-- Terms of service -->
    <p>By clicking
        <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>

</form>
<!-- Default form register -->